
<h2>Please, <small>enter your personal info for making an order</small></h2>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <% @mailings.each do |mailing| if @mailings.present? %>
    <%= link_to "Deliver", deliver_mailing_path(mailing), :confirm => 'Are you sure?', :method => :post %>
    <% end %>
     <% end %>
  </div>
<% end %>
