<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rubric.name %>
</p>
<p>
  <strong>Body:</strong>
  <%= @rubric.body %>
</p>

<% @rubric.products.each do |p|%>
<%= p.title %>
<%= number_to_currency(p.price, unit: 'UAH ') %>
<%= p.description %>
<hr>
<% end %>



<%= link_to 'Add a product', new_product_path %>

<%= link_to 'Edit', edit_rubric_path(@rubric) %> |
<%= link_to 'Back', rubrics_path %>
