<p id="notice"><%= notice %></p>


  <div id='central_col' class="col-md-7">
    
    <div class='product_content'>
    	<p>
		  <h4><%= @product.title %></h4>
		</p>
      <div class='product_image'>
        <%= image_tag @product.image_url, style:'max-width:1000px; max-height:700px' %>
      </div>

      <div class='info_content'>
        
        <h4 class='level_h4'>Product specs:</h4>

        <p><%= sanitize(@product.description) if @product.description.present? %></p>

        <hr>
        <p><b>Rubric: </b><%= link_to "Назад", rubrics_path %></p> 
      </div>
    </div>
  </div>
